/* --------------------Create CSS grid-------------------- */
.inside {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto 10%;
    grid-template-areas:
    "header"
    "main"
    "footer";
}


/* --------------------Navigation/Header-------------------- */
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

#breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* --------------------Main-------------------- */
.inside #maincontent {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
}

.inside #map-container {
    background-color: #f3f3f3;
    width: 100%;
}


.inside #map {
    min-height: 400px;
    background-color: #ccc;
}

#restaurant-container {
    text-align: center;
}

#restaurant-name {
    color: #f18200;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}


#restaurant-img {
    width: 100%;
}


#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

 
#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-hours {
    width: 100%;
    text-align: center;
    color: #666;
}


#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 20px 40px 50px;
} 

 
#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
} 


#reviews-list {
    margin: 0;
    padding: 0;
}


#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
}


#reviews-list li p {
    margin: 0 0 10px;
} 


